@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

* {
  background-color: rgb(78, 58, 78);
  color: rgb(165, 125, 165);
}

.App {
  font-family: 'Lato', sans-serif;
  display: grid;
  justify-content: center;
  background-color: rgb(78, 58, 78);
  text-align: center;
}

h1 {
  font-size: 50px;
}

p {
  font-size: 25px;
}
